<div id="modal-form" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="w-75 mx-auto">
          <div class="form-group">
            <label>Название фильма:</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label>Оригинальное название фильма:</label>
            <input type="text" class="form-control" id="titleOriginal">
          </div>
          <div class="form-group">
            <label>Постер:</label>
            <input type="text" class="form-control" id="image" placeholder="Ссылка на картинку">
          </div>
          <fieldset class="form-group">
            <legend class="col-form-label pt-0">Детальная информация:</legend>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Год:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="year">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Страна:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="country">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Слоган:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="slogan">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Режиссер:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="director">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Сценарист:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="scenario">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Продюсер:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="producer">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Оператор:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="operator">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Композитор:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="composer">
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label>В ролях:</label>
            <textarea class="form-control" rows="3" id="roles"></textarea>
            <small class="form-text text-muted">Укажите актеров через запятую.</small>
          </div>
          <div class="form-group">
            <label>Рейтинг IMDB:</label>
            <input type="text" class="form-control" id="rating">
          </div>
          <div class="form-group">
            <label>Описание:</label>
            <textarea class="form-control" rows="3" id="text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary mr-3" id="confirm" data-dismiss="modal">Сохранить</button>
      </div>
    </div>
  </div>
</div>
